.stal {
  box-sizing: border-box;
  font-size: 1000%;
  font-family: "Anton", sans-serif;
  color: azure;
  margin-top: 20%;
  text-align: center;
  margin-left: auto;
}

.vid {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
}
