body {
  background-color: rgb(255, 255, 142);
}

.container {
  display: flex;

  height: 95vh;
  justify-content: center;
  align-items: center;
}

.head {
  font-size: 10vi;
  font-family: monospace;
  border: 100cm;
}
.heading {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vi;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
